<a href="https://colab.research.google.com/github/anmol-iisc/psa_dspi_rmdn12/blob/main/Assignment2_1_26Sep_0926PM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coding Assignment 2: Exploratory Data Analysis on Diabetes Dataset

## Background
Diabetes is one of the most prevalent chronic diseases and creates significant burdens on healthcare systems. The **Diabetes 130-US hospitals dataset** contains over **100,000 records** of hospital admissions for diabetic patients across **130 U.S. hospitals (1999â€“2008)**. It includes more than **50 attributes**, covering demographics, admission details, diagnoses, lab results, medications, and hospital outcomes.  

Like many real-world healthcare datasets, it presents challenges such as missing values, categorical codes (ICD-9 diagnoses, drug prescriptions), imbalances in outcome variables (e.g., readmission), and inconsistent data formats. Conducting an in-depth **Exploratory Data Analysis (EDA)** will help uncover insights into patient demographics, treatment outcomes, and factors influencing readmission rates.  

---

## Objectives
The goal of this assignment is to conduct a comprehensive **qualitative and quantitative EDA** of the Diabetes dataset. You will:  

- **Understand** the dataset structure, including variables, data types, and overall composition.  
- **Detect and address** data quality issues, such as missing values, duplicates, and inconsistent categories.  
- **Conduct univariate, bivariate, and multivariate analysis** using both qualitative and quantitative EDA, supported by visualization techniques (bar charts, count plots, stacked charts, heatmaps) and statistical methods (descriptive statistics, distribution analysis, and exploration of variable relationships).  
- **Visualize** patterns and correlations to uncover key insights and trends.  

---

## Submission Instructions
- This is an **individual assignment** and carries **5% of the total marks** of this course.
- You should not discuss your progress or solutions with anyone else.  
- Use this **template Jupyter Notebook and dataset** for your work.  

At the beginning of the notebook, clearly state:  
1. **Your Name and Roll Number**  
2. **Python environment details** (version, libraries used).  
3. Whether you are running locally or on **Google Colab** (*preferred, to ensure all students work in a consistent environment*).  

Additional guidelines:  
- Ensure that your notebook is **fully reproducible**: every cell must run sequentially without errors to regenerate the results.  
- Submit a **single completed notebook file (.ipynb)** before the deadline.  

---

## Dataset Source
- Source of Data : https://archive.ics.uci.edu/dataset/296/diabetes+130-us+hospitals+for+years+1999-2008
- It represents **hospital admissions of diabetic patients** across 130 U.S. hospitals from 1999 to 2008.
- Read the **Variables Table** in the link above, which provides details of individual variables such as type, role, and description.

##  Dataset Overview - "Diabetes_dataset.csv"
- **Number of records:** ~101,766 hospital admissions  
- **Number of features:** 53  
- **Unit of analysis:** Each row represents **one hospital admission** for a patient (a patient can have multiple admissions).  
- **Target variable (Goal):** Predict whether a patient is **readmitted within 30 days** of discharge.  

###  Key Features with Mappings
- **Admission Type**: `admission_type_id` â†’ mapped to `admission_type_desc`  
- **Discharge Disposition**: `discharge_disposition_id` â†’ mapped to `discharge_desc`  
- **Admission Source**: `admission_source_id` â†’ mapped to `admission_source_desc`  

---

##  Important Notes
- **Missing values:** Several features contain missing values, often recorded as `"?"` (not as `NaN`).   
- **ID columns:** Both numeric IDs and their human-readable descriptions are included after merging. IDs may be useful for re-checking or remapping, while descriptions are helpful for analysis.

**Note:** Do not just run plots â€” write down **interpretations** of your findings.  
The goal is to practice *thinking about the data*, not just generating charts.

# ðŸ“Œ Preamble: Environment Details

Before starting the assignment, please fill in the following:

- **Name**: Anmol Gupta  
- **Email**: anmolg@iisc.ac.in  
- **Environment**: Google Colab  

Run the code cell below to print your Python and library versions.

In [931]:
# Preamble: Environment Check

import sys
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sns

print("Python version:", sys.version)
print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)
print("Matplotlib version:", matplotlib.__version__)
print("Seaborn version:", sns.__version__)

Python version: 3.12.11 (main, Jun  4 2025, 08:56:18) [GCC 11.4.0]
Pandas version: 2.2.2
NumPy version: 2.0.2
Matplotlib version: 3.10.0
Seaborn version: 0.13.2

## Load and Inspect the dataset structure

#### Load the dataset

In [932]:
df=pd.read_csv("Diabetes_dataset.csv")

#### Inspect the dataset

In [933]:
df.shape

(101766, 53)

In [934]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,admission_type_desc,discharge_desc,admission_source_desc
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,NO,NaN,Not Mapped,Physician Referral
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,No,No,No,Ch,Yes,>30,Emergency,Discharged to home,Emergency Room
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,Yes,NO,Emergency,Discharged to home,Emergency Room
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,No,No,No,Ch,Yes,NO,Emergency,Discharged to home,Emergency Room
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,No,No,No,Ch,Yes,NO,Emergency,Discharged to home,Emergency Room

In [935]:
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [936]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
encounter_id,101766.0,1.652016e+08,1.026403e+08,12522.0,84961194.0,152388987.0,2.302709e+08,443867222.0
patient_nbr,101766.0,5.433040e+07,3.869636e+07,135.0,23413221.0,45505143.0,8.754595e+07,189502619.0
admission_type_id,101766.0,2.024006e+00,1.445403e+00,1.0,1.0,1.0,3.000000e+00,8.0
discharge_disposition_id,101766.0,3.715642e+00,5.280166e+00,1.0,1.0,1.0,4.000000e+00,28.0
admission_source_id,101766.0,5.754437e+00,4.064081e+00,1.0,1.0,7.0,7.000000e+00,25.0
time_in_hospital,101766.0,4.395987e+00,2.985108e+00,1.0,2.0,4.0,6.000000e+00,14.0
num_lab_procedures,101766.0,4.309564e+01,1.967436e+01,1.0,31.0,44.0,5.700000e+01,132.0
num_procedures,101766.0,1.339730e+00,1.705807e+00,0.0,0.0,1.0,2.000000e+00,6.0
num_medications,101766.0,1.602184e+01,8.127566e+00,1.0,10.0,15.0,2.000000e+01,81.0
number_outpatient,101766.0,3.693572e-01,1.267265e+00,0.0,0.0,0.0,0.000000e+00,42.0
number_emergency,101766.0,1.978362e-01,9.304723e-01,0.0,0.0,0.0,0.000000e+00,76.0
number_inpatient,101766.0,6.355659e-01,1.262863e+00,0.0,0.0,0.0,1.000000e+00,21.0
number_diagnoses,101766.0,7.422607e+00,1.933600e+00,1.0,6.0,8.0,9.000000e+00,16.0

In [937]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
 50  admission_type_desc       96475 non-null   object
 51  discharge_desc            98075 non-null   object
 52  admission_source_desc     94985 non-null   object
dtypes: int64(13), object(40)
memory usage: 41.2+ MB

## Data Pre-processing (cleaning, transformation, handling missing values, etc.)

We can see that there are 53 columns in the original dataframe.

To make our job easier while performing analysis, let us break it down into separate (dummy) dataframes based on the column types.

##### Numerical Columns

In [938]:
numeric_df = df.select_dtypes(include='number')

In [939]:
numeric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 13 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   admission_type_id         101766 non-null  int64
 3   discharge_disposition_id  101766 non-null  int64
 4   admission_source_id       101766 non-null  int64
 5   time_in_hospital          101766 non-null  int64
 6   num_lab_procedures        101766 non-null  int64
 7   num_procedures            101766 non-null  int64
 8   num_medications           101766 non-null  int64
 9   number_outpatient         101766 non-null  int64
 10  number_emergency          101766 non-null  int64
 11  number_inpatient          101766 non-null  int64
 12  number_diagnoses          101766 non-null  int64
dtypes: int64(13)
memory usage: 10.1 MB

In [940]:
for col in numeric_df.columns:
    print(col, "has", numeric_df[col].duplicated().sum(), "duplicate values")

encounter_id has 0 duplicate values
patient_nbr has 30248 duplicate values
admission_type_id has 101758 duplicate values
discharge_disposition_id has 101740 duplicate values
admission_source_id has 101749 duplicate values
time_in_hospital has 101752 duplicate values
num_lab_procedures has 101648 duplicate values
num_procedures has 101759 duplicate values
num_medications has 101691 duplicate values
number_outpatient has 101727 duplicate values
number_emergency has 101733 duplicate values
number_inpatient has 101745 duplicate values
number_diagnoses has 101750 duplicate values

Since `encounter_id` has all unique values, it would not contribute towards identifying any relationship.

Hence, we can drop it from the original dataframe.

**NOTE**: We use the `numeric_df` only for analysis. Any operation we perform (like dropping a column) is performed on the ***orginal dataframe*** itself. Only for maintaining consistency and to avoid confusion later, we perform the same operation on the the dummy `numeric_df` also. The same would apply to other dummy dataframes that we create later too.

In [941]:
df.drop(columns=['encounter_id'], inplace=True)
# Doing the same on the dummy dataframe for consistency purpose
numeric_df.drop(columns=['encounter_id'], inplace=True)

In [942]:
numeric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 12 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   patient_nbr               101766 non-null  int64
 1   admission_type_id         101766 non-null  int64
 2   discharge_disposition_id  101766 non-null  int64
 3   admission_source_id       101766 non-null  int64
 4   time_in_hospital          101766 non-null  int64
 5   num_lab_procedures        101766 non-null  int64
 6   num_procedures            101766 non-null  int64
 7   num_medications           101766 non-null  int64
 8   number_outpatient         101766 non-null  int64
 9   number_emergency          101766 non-null  int64
 10  number_inpatient          101766 non-null  int64
 11  number_diagnoses          101766 non-null  int64
dtypes: int64(12)
memory usage: 9.3 MB

Let us check if any of our numerical columns has '?'

In [943]:
(numeric_df == '?').sum()

patient_nbr                 0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
number_diagnoses            0
dtype: int64

Let us do a high-level analysis of the remaining columns in numeric_df.

In [944]:
for col in numeric_df.columns:
    print('================================================')
    print('\033[1m'+col+'\033[0m')
    print('Number of unique values:',numeric_df[col].nunique(),"\n")
    print('Unique Values:',numeric_df[col].unique(),"\n\n")

================================================
patient_nbr
Number of unique values: 71518

Unique Values: [  8222157  55629189  86047875 ... 140199494 120975314 175429310]


================================================
admission_type_id
Number of unique values: 8

Unique Values: [6 1 2 3 4 5 8 7]


================================================
discharge_disposition_id
Number of unique values: 26

Unique Values: [25  1  3  6  2  5 11  7 10  4 14 18  8 13 12 16 17 22 23  9 20 15 24 28
 19 27]


================================================
admission_source_id
Number of unique values: 17

Unique Values: [ 1  7  2  4  5  6 20  3 17  8  9 14 10 22 11 25 13]


================================================
time_in_hospital
Number of unique values: 14

Unique Values: [ 1  3  2  4  5 13 12  9  7 10  6 11  8 14]


================================================
num_lab_procedures
Number of unique values: 118

Unique Values: [ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  66  36  19  64  25  53  52  87  27  37  46  28  48  72  10   2
  65  67  40  54  58  57  43  32  83  34  39  69  38  56  22  96  78  61
  88  50   1  18  82   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26   5  95  97  84  14  74 105  86
  98  20   6  94   8 102 100   7  89  91  92   4 101  99 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]


================================================
num_procedures
Number of unique values: 7

Unique Values: [0 5 1 6 2 3 4]


================================================
num_medications
Number of unique values: 75

Unique Values: [ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 27 25  4
 32  6 30 26 24 33  5 39  3 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 53 48 57 59 56 60 63 58 70 67 64 69 65 68 66 81 79
 75 72 74]


================================================
number_outpatient
Number of unique values: 39

Unique Values: [ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]


================================================
number_emergency
Number of unique values: 33

Unique Values: [ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]


================================================
number_inpatient
Number of unique values: 21

Unique Values: [ 0  1  2  3  6  5  4  7  8  9 15 10 11 14 12 13 17 16 21 18 19]


================================================
number_diagnoses
Number of unique values: 16

Unique Values: [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]

Some of these columns can benefit from binning - but let us look at it once we come to univariate analysis.
Other than that, from a data cleaning point-of-view, we are done with the numercial columns.

We will come back to the numerical columns later, if needed.

##### Object Type Columns

In [945]:
object_df = df.select_dtypes(include='object')

In [946]:
object_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 40 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   race                      101766 non-null  object
 1   gender                    101766 non-null  object
 2   age                       101766 non-null  object
 3   weight                    101766 non-null  object
 4   payer_code                101766 non-null  object
 5   medical_specialty         101766 non-null  object
 6   diag_1                    101766 non-null  object
 7   diag_2                    101766 non-null  object
 8   diag_3                    101766 non-null  object
 9   max_glu_serum             5346 non-null    object
 10  A1Cresult                 17018 non-null   object
 11  metformin                 101766 non-null  object
 12  repaglinide               101766 non-null  object
 13  nateglinide               101766 non-null  object
 14  chlorpropamide            101766 non-null  object
 15  glimepiride               101766 non-null  object
 16  acetohexamide             101766 non-null  object
 17  glipizide                 101766 non-null  object
 18  glyburide                 101766 non-null  object
 19  tolbutamide               101766 non-null  object
 20  pioglitazone              101766 non-null  object
 21  rosiglitazone             101766 non-null  object
 22  acarbose                  101766 non-null  object
 23  miglitol                  101766 non-null  object
 24  troglitazone              101766 non-null  object
 25  tolazamide                101766 non-null  object
 26  examide                   101766 non-null  object
 27  citoglipton               101766 non-null  object
 28  insulin                   101766 non-null  object
 29  glyburide-metformin       101766 non-null  object
 30  glipizide-metformin       101766 non-null  object
 31  glimepiride-pioglitazone  101766 non-null  object
 32  metformin-rosiglitazone   101766 non-null  object
 33  metformin-pioglitazone    101766 non-null  object
 34  change                    101766 non-null  object
 35  diabetesMed               101766 non-null  object
 36  readmitted                101766 non-null  object
 37  admission_type_desc       96475 non-null   object
 38  discharge_desc            98075 non-null   object
 39  admission_source_desc     94985 non-null   object
dtypes: object(40)
memory usage: 31.1+ MB

We still have 40 columns as object data type.

So let us try to split them further.

In [947]:
object_df.columns

Index(['race', 'gender', 'age', 'weight', 'payer_code', 'medical_specialty',
       'diag_1', 'diag_2', 'diag_3', 'max_glu_serum', 'A1Cresult', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'admission_type_desc', 'discharge_desc', 'admission_source_desc'],
      dtype='object')

In [948]:
drug_columns = ['metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone']

In [949]:
non_drug_columns = ['race', 'gender', 'age', 'weight', 'payer_code', 'medical_specialty',
       'diag_1', 'diag_2', 'diag_3', 'max_glu_serum', 'A1Cresult','change', 'diabetesMed', 'readmitted',
       'admission_type_desc', 'discharge_desc', 'admission_source_desc']

In [950]:
drug_df = object_df[drug_columns]
drug_df.columns.nunique()

23

In [951]:
non_drug_df = object_df[non_drug_columns]
non_drug_df.columns.nunique()

17

###### Let us start with the drug columns.

In [952]:
df.shape

(101766, 52)

In [953]:
for col in drug_df.columns:
    print(col, "has", drug_df[col].nunique(), "unique values")

metformin has 4 unique values
repaglinide has 4 unique values
nateglinide has 4 unique values
chlorpropamide has 4 unique values
glimepiride has 4 unique values
acetohexamide has 2 unique values
glipizide has 4 unique values
glyburide has 4 unique values
tolbutamide has 2 unique values
pioglitazone has 4 unique values
rosiglitazone has 4 unique values
acarbose has 4 unique values
miglitol has 4 unique values
troglitazone has 2 unique values
tolazamide has 3 unique values
examide has 1 unique values
citoglipton has 1 unique values
insulin has 4 unique values
glyburide-metformin has 4 unique values
glipizide-metformin has 2 unique values
glimepiride-pioglitazone has 2 unique values
metformin-rosiglitazone has 2 unique values
metformin-pioglitazone has 2 unique values

We can see that `examide` and `citoglipton` have only one unique value. So we can drop them from the original dataframe.

In [954]:
df.drop(columns=['examide', 'citoglipton'], inplace=True)
# Doing the same on the dummy dataframe for consistency purpose
drug_df.drop(columns=['examide', 'citoglipton'], inplace=True)

/tmp/ipython-input-3699290549.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug_df.drop(columns=['examide', 'citoglipton'], inplace=True)

In [955]:
drug_df.isnull().sum()

metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
dtype: int64

In [956]:
(drug_df == '?').sum()

metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
dtype: int64

In [957]:
for col in drug_df.columns:
    print('================================================')
    print('\033[1m'+col+'\033[0m')
    print('Number of unique values:',drug_df[col].nunique(),"\n")
    print('Unique Values:',drug_df[col].unique(),"\n")
    print('Number of null values:',drug_df[col].isnull().sum(),"\n\n")

================================================
metformin
Number of unique values: 4

Unique Values: ['No' 'Steady' 'Up' 'Down']

Number of null values: 0


================================================
repaglinide
Number of unique values: 4

Unique Values: ['No' 'Up' 'Steady' 'Down']

Number of null values: 0


================================================
nateglinide
Number of unique values: 4

Unique Values: ['No' 'Steady' 'Down' 'Up']

Number of null values: 0


================================================
chlorpropamide
Number of unique values: 4

Unique Values: ['No' 'Steady' 'Down' 'Up']

Number of null values: 0


================================================
glimepiride
Number of unique values: 4

Unique Values: ['No' 'Steady' 'Down' 'Up']

Number of null values: 0


================================================
acetohexamide
Number of unique values: 2

Unique Values: ['No' 'Steady']

Number of null values: 0


================================================
glipizide
Number of unique values: 4

Unique Values: ['No' 'Steady' 'Up' 'Down']

Number of null values: 0


================================================
glyburide
Number of unique values: 4

Unique Values: ['No' 'Steady' 'Up' 'Down']

Number of null values: 0


================================================
tolbutamide
Number of unique values: 2

Unique Values: ['No' 'Steady']

Number of null values: 0


================================================
pioglitazone
Number of unique values: 4

Unique Values: ['No' 'Steady' 'Up' 'Down']

Number of null values: 0


================================================
rosiglitazone
Number of unique values: 4

Unique Values: ['No' 'Steady' 'Up' 'Down']

Number of null values: 0


================================================
acarbose
Number of unique values: 4

Unique Values: ['No' 'Steady' 'Up' 'Down']

Number of null values: 0


================================================
miglitol
Number of unique values: 4

Unique Values: ['No' 'Steady' 'Down' 'Up']

Number of null values: 0


================================================
troglitazone
Number of unique values: 2

Unique Values: ['No' 'Steady']

Number of null values: 0


================================================
tolazamide
Number of unique values: 3

Unique Values: ['No' 'Steady' 'Up']

Number of null values: 0


================================================
insulin
Number of unique values: 4

Unique Values: ['No' 'Up' 'Steady' 'Down']

Number of null values: 0


================================================
glyburide-metformin
Number of unique values: 4

Unique Values: ['No' 'Steady' 'Down' 'Up']

Number of null values: 0


================================================
glipizide-metformin
Number of unique values: 2

Unique Values: ['No' 'Steady']

Number of null values: 0


================================================
glimepiride-pioglitazone
Number of unique values: 2

Unique Values: ['No' 'Steady']

Number of null values: 0


================================================
metformin-rosiglitazone
Number of unique values: 2

Unique Values: ['No' 'Steady']

Number of null values: 0


================================================
metformin-pioglitazone
Number of unique values: 2

Unique Values: ['No' 'Steady']

Number of null values: 0

From data cleaning, point-of-view, these columns look fine. None of them have any null values, and all of them have between two to four categorical values.

###### Let us continue with the non-drug columns.

In [958]:
for col in non_drug_df.columns:
    print(col, "has", non_drug_df[col].duplicated().sum(), "duplicate values")

race has 101760 duplicate values
gender has 101763 duplicate values
age has 101756 duplicate values
weight has 101756 duplicate values
payer_code has 101748 duplicate values
medical_specialty has 101693 duplicate values
diag_1 has 101049 duplicate values
diag_2 has 101017 duplicate values
diag_3 has 100976 duplicate values
max_glu_serum has 101762 duplicate values
A1Cresult has 101762 duplicate values
change has 101764 duplicate values
diabetesMed has 101764 duplicate values
readmitted has 101763 duplicate values
admission_type_desc has 101758 duplicate values
discharge_desc has 101740 duplicate values
admission_source_desc has 101749 duplicate values

In [959]:
(non_drug_df == '?').sum()

race                      2273
gender                       0
age                          0
weight                   98569
payer_code               40256
medical_specialty        49949
diag_1                      21
diag_2                     358
diag_3                    1423
max_glu_serum                0
A1Cresult                    0
change                       0
diabetesMed                  0
readmitted                   0
admission_type_desc          0
discharge_desc               0
admission_source_desc        0
dtype: int64

Replacing all '?' with null values.

In [960]:
df.replace("?", np.nan, inplace=True)
# Doing the same on the dummy dataframe for consistency purpose
non_drug_df.replace("?", np.nan, inplace=True)

/tmp/ipython-input-876314273.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_drug_df.replace("?", np.nan, inplace=True)

In [961]:
non_drug_df.isnull().sum()

race                      2273
gender                       0
age                          0
weight                   98569
payer_code               40256
medical_specialty        49949
diag_1                      21
diag_2                     358
diag_3                    1423
max_glu_serum            96420
A1Cresult                84748
change                       0
diabetesMed                  0
readmitted                   0
admission_type_desc       5291
discharge_desc            3691
admission_source_desc     6781
dtype: int64

In [962]:
percent_missing = non_drug_df.isnull().sum()*100/len(df)
percent_missing_sorted = percent_missing.sort_values(ascending=False)
percent_missing_sorted

weight                   96.858479
max_glu_serum            94.746772
A1Cresult                83.277322
medical_specialty        49.082208
payer_code               39.557416
admission_source_desc     6.663326
admission_type_desc       5.199182
discharge_desc            3.626948
race                      2.233555
diag_3                    1.398306
diag_2                    0.351787
diag_1                    0.020636
gender                    0.000000
age                       0.000000
change                    0.000000
diabetesMed               0.000000
readmitted                0.000000
dtype: float64

Columns `weight`, `max_glu_serum`, `A1Cresult` have very high null value percentages, so we can drop them from the original dataframe.

In [963]:
df.drop(columns=['weight', 'max_glu_serum', 'A1Cresult'], inplace=True)
# Doing the same on the dummy dataframe for consistency purpose
non_drug_df.drop(columns=['weight', 'max_glu_serum', 'A1Cresult'], inplace=True)

/tmp/ipython-input-2845509147.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_drug_df.drop(columns=['weight', 'max_glu_serum', 'A1Cresult'], inplace=True)

Columns `medical_specialty` and `payer_code` also have a significant percentage of null values, but let us analyze them a bit more.

`medical_specialty`

In [964]:
non_drug_df['medical_specialty'].unique()

array(['Pediatrics-Endocrinology', nan, 'InternalMedicine',
       'Family/GeneralPractice', 'Cardiology', 'Surgery-General',
       'Orthopedics', 'Gastroenterology',
       'Surgery-Cardiovascular/Thoracic', 'Nephrology',
       'Orthopedics-Reconstructive', 'Psychiatry', 'Emergency/Trauma',
       'Pulmonology', 'Surgery-Neuro',
       'Obsterics&Gynecology-GynecologicOnco', 'ObstetricsandGynecology',
       'Pediatrics', 'Hematology/Oncology', 'Otolaryngology',
       'Surgery-Colon&Rectal', 'Pediatrics-CriticalCare', 'Endocrinology',
       'Urology', 'Psychiatry-Child/Adolescent', 'Pediatrics-Pulmonology',
       'Neurology', 'Anesthesiology-Pediatric', 'Radiology',
       'Pediatrics-Hematology-Oncology', 'Psychology', 'Podiatry',
       'Gynecology', 'Oncology', 'Pediatrics-Neurology',
       'Surgery-Plastic', 'Surgery-Thoracic',
       'Surgery-PlasticwithinHeadandNeck', 'Ophthalmology',
       'Surgery-Pediatric', 'Pediatrics-EmergencyMedicine',
       'PhysicalMedicineandRehabilitation', 'InfectiousDiseases',
       'Anesthesiology', 'Rheumatology', 'AllergyandImmunology',
       'Surgery-Maxillofacial', 'Pediatrics-InfectiousDiseases',
       'Pediatrics-AllergyandImmunology', 'Dentistry', 'Surgeon',
       'Surgery-Vascular', 'Osteopath', 'Psychiatry-Addictive',
       'Surgery-Cardiovascular', 'PhysicianNotFound', 'Hematology',
       'Proctology', 'Obstetrics', 'SurgicalSpecialty', 'Radiologist',
       'Pathology', 'Dermatology', 'SportsMedicine', 'Speech',
       'Hospitalist', 'OutreachServices', 'Cardiology-Pediatric',
       'Perinatology', 'Neurophysiology', 'Endocrinology-Metabolism',
       'DCPTEAM', 'Resident'], dtype=object)

Let us keep `medical_specialty` for now, and impute the missing values as a new value 'Unknown'.

In [965]:
df['medical_specialty'] = df['medical_specialty'].fillna('Unknown')
# Doing the same on the dummy dataframe for consistency purpose
non_drug_df['medical_specialty'] = non_drug_df['medical_specialty'].fillna('Unknown')

/tmp/ipython-input-2342112168.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_drug_df['medical_specialty'] = non_drug_df['medical_specialty'].fillna('Unknown')

`payer_code`

In [966]:
df['payer_code'].unique()

array([nan, 'MC', 'MD', 'HM', 'UN', 'BC', 'SP', 'CP', 'SI', 'DM', 'CM',
       'CH', 'PO', 'WC', 'OT', 'OG', 'MP', 'FR'], dtype=object)

Let us remove `payer_code`, as anyway it should not contribute to readmission, along wiht having a large percentage of null values.

In [967]:
df.drop(columns=['payer_code'], inplace=True)
# Doing the same on the dummy dataframe for consistency purpose
non_drug_df.drop(columns=['payer_code'], inplace=True)

/tmp/ipython-input-1142169840.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_drug_df.drop(columns=['payer_code'], inplace=True)

Let us do a high-level analysis of the remaining columns in non_drug_df.

In [968]:
for col in non_drug_df.columns:
    print('================================================')
    print('\033[1m'+col+'\033[0m')
    print('Number of unique values:',non_drug_df[col].nunique(),"\n")
    print('Unique Values:',non_drug_df[col].unique(),"\n")
    print('Number of null values:',non_drug_df[col].isnull().sum(),"\n\n")

================================================
race
Number of unique values: 5

Unique Values: ['Caucasian' 'AfricanAmerican' nan 'Other' 'Asian' 'Hispanic']

Number of null values: 2273


================================================
gender
Number of unique values: 3

Unique Values: ['Female' 'Male' 'Unknown/Invalid']

Number of null values: 0


================================================
age
Number of unique values: 10

Unique Values: ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']

Number of null values: 0


================================================
medical_specialty
Number of unique values: 73

Unique Values: ['Pediatrics-Endocrinology' 'Unknown' 'InternalMedicine'
 'Family/GeneralPractice' 'Cardiology' 'Surgery-General' 'Orthopedics'
 'Gastroenterology' 'Surgery-Cardiovascular/Thoracic' 'Nephrology'
 'Orthopedics-Reconstructive' 'Psychiatry' 'Emergency/Trauma'
 'Pulmonology' 'Surgery-Neuro' 'Obsterics&Gynecology-GynecologicOnco'
 'ObstetricsandGynecology' 'Pediatrics' 'Hematology/Oncology'
 'Otolaryngology' 'Surgery-Colon&Rectal' 'Pediatrics-CriticalCare'
 'Endocrinology' 'Urology' 'Psychiatry-Child/Adolescent'
 'Pediatrics-Pulmonology' 'Neurology' 'Anesthesiology-Pediatric'
 'Radiology' 'Pediatrics-Hematology-Oncology' 'Psychology' 'Podiatry'
 'Gynecology' 'Oncology' 'Pediatrics-Neurology' 'Surgery-Plastic'
 'Surgery-Thoracic' 'Surgery-PlasticwithinHeadandNeck' 'Ophthalmology'
 'Surgery-Pediatric' 'Pediatrics-EmergencyMedicine'
 'PhysicalMedicineandRehabilitation' 'InfectiousDiseases' 'Anesthesiology'
 'Rheumatology' 'AllergyandImmunology' 'Surgery-Maxillofacial'
 'Pediatrics-InfectiousDiseases' 'Pediatrics-AllergyandImmunology'
 'Dentistry' 'Surgeon' 'Surgery-Vascular' 'Osteopath'
 'Psychiatry-Addictive' 'Surgery-Cardiovascular' 'PhysicianNotFound'
 'Hematology' 'Proctology' 'Obstetrics' 'SurgicalSpecialty' 'Radiologist'
 'Pathology' 'Dermatology' 'SportsMedicine' 'Speech' 'Hospitalist'
 'OutreachServices' 'Cardiology-Pediatric' 'Perinatology'
 'Neurophysiology' 'Endocrinology-Metabolism' 'DCPTEAM' 'Resident']

Number of null values: 0


================================================
diag_1
Number of unique values: 716

Unique Values: ['250.83' '276' '648' '8' '197' '414' '428' '398' '434' '250.7' '157'
 '518' '999' '410' '682' '402' '737' '572' 'V57' '189' '786' '427' '996'
 '277' '584' '462' '473' '411' '174' '486' '998' '511' '432' '626' '295'
 '196' '250.6' '618' '182' '845' '423' '808' '250.4' '722' '403' '250.11'
 '784' '707' '440' '151' '715' '997' '198' '564' '812' '38' '590' '556'
 '578' '250.32' '433' 'V58' '569' '185' '536' '255' '250.13' '599' '558'
 '574' '491' '560' '244' '250.03' '577' '730' '188' '824' '250.8' '332'
 '562' '291' '296' '510' '401' '263' '438' '70' '250.02' '493' '642' '625'
 '571' '738' '593' '250.42' '807' '456' '446' '575' '250.41' '820' '515'
 '780' '250.22' '995' '235' '250.82' '721' '787' '162' '724' '282' '514'
 'V55' '281' '250.33' '530' '466' '435' '250.12' 'V53' '789' '566' '822'
 '191' '557' '733' '455' '711' '482' '202' '280' '553' '225' '154' '441'
 '250.81' '349' nan '962' '592' '507' '386' '156' '200' '728' '348' '459'
 '426' '388' '607' '337' '82' '531' '596' '288' '656' '573' '492' '220'
 '516' '210' '922' '286' '885' '958' '661' '969' '250.93' '227' '112'
 '404' '823' '532' '416' '346' '535' '453' '250' '595' '211' '303'
 '250.01' '852' '218' '782' '540' '457' '285' '431' '340' '550' '54' '351'
 '601' '723' '555' '153' '443' '380' '204' '424' '241' '358' '694' '331'
 '345' '681' '447' '290' '158' '579' '436' '335' '309' '654' '805' '799'
 '292' '183' '78' '851' '458' '586' '311' '892' '305' '293' '415' '591'
 '794' '803' '79' '655' '429' '278' '658' '598' '729' '585' '444' '604'
 '727' '214' '552' '284' '680' '708' '41' '644' '481' '821' '413' '437'
 '968' '756' '632' '359' '275' '512' '781' '420' '368' '522' '294' '825'
 '135' '304' '320' '250.31' '669' '868' '496' '250.43' '826' '567' '3'
 '203' '53' '251' '565' '161' '495' '49' '250.1' '297' '663' '576' '355'
 '850' '287' '250.2' '611' '840' '350' '726' '537' '620' '180' '366' '783'
 '11' '751' '716' '250.3' '199' '464' '580' '836' '664' '283' '813' '966'
 '289' '965' '184' '480' '608' '333' '972' '212' '117' '788' '924' '959'
 '621' '238' '785' '714' '942' '250.23' '710' '47' '933' '508' '478' '844'
 '7' '736' '233' '42' '250.5' '397' '395' '201' '421' '253' '250.92' '600'
 '494' '977' '39' '659' '312' '614' '647' '652' '646' '274' '861' '425'
 '527' '451' '485' '217' '250.53' '442' '970' '193' '160' '322' '581'
 '475' '623' '374' '582' '568' '465' '801' '237' '376' '150' '461' '913'
 '226' '617' '987' '641' '298' '790' '336' '362' '228' '513' '383' '746'
 '353' '911' '506' '873' '155' '860' '534' '802' '141' 'V45' '396' '310'
 '341' '242' '719' '239' '533' '616' '519' '301' 'V66' '5' '989' '230'
 '385' '300' '853' '871' '570' '848' '463' '9' '934' '250.21' '236' '361'
 '594' '501' '810' '643' '430' '528' '205' '791' '983' '992' '490' '172'
 '171' '622' '306' '863' '864' '474' '660' '759' '356' '634' '967' '551'
 '695' '187' '732' '747' '323' '308' '370' '252' '152' '846' '164' '365'
 '718' '48' '266' '720' '94' '344' '797' '170' '878' '904' 'V56' '882'
 '843' '709' '973' '454' '686' '939' '487' '229' '991' '483' '357' '692'
 '796' '693' '935' '936' '800' '920' 'V26' '261' '307' '262' '250.9' '831'
 '145' '223' 'V71' '839' '685' 'V54' '35' '34' '179' '964' '136' '324'
 '389' '815' '334' '143' '526' '588' '192' 'V67' '394' '917' '88' '219'
 '325' '792' '717' '994' '990' '793' '207' '637' '195' '373' '847' '827'
 '31' '891' '814' 'V60' '703' '865' '352' '627' '378' '342' '886' '369'
 '745' '705' '816' '541' '986' '610' '633' '640' '753' '173' '835' '379'
 '445' '272' '382' '945' '619' '881' '250.52' '866' '405' '916' '215'
 '893' '75' '671' '928' '906' '897' '725' '867' '115' '890' '734' '521'
 '674' '470' '834' '146' '696' '524' '980' '691' '384' '142' '879'
 '250.51' '246' '208' '448' '955' '653' '149' '245' '735' '883' '854'
 '952' '838' '194' 'V43' '163' '216' '147' '354' '27' '477' '318' '880'
 '921' '377' '471' '683' '175' '602' '250.91' '982' '706' '375' '417'
 '131' '347' '870' '148' '862' '61' '817' '914' '360' '684' '314' 'V63'
 '36' '57' '240' '915' '971' '795' '988' '452' '963' '327' '731' '842'
 'V25' '645' '665' '110' '944' '603' '923' '412' '363' '957' '976' '698'
 '299' '700' '273' '974' '97' '529' '66' '98' '605' '941' '52' '806' '84'
 '271' '837' '657' '895' '338' '523' '542' '114' '543' '372' 'V70' 'E909'
 '583' 'V07' '422' '615' '279' '500' '903' '919' '875' '381' '804' '704'
 '23' '58' '649' '832' '133' '975' '833' '391' '690' '10' 'V51']

Number of null values: 21


================================================
diag_2
Number of unique values: 748

Unique Values: [nan '250.01' '250' '250.43' '157' '411' '492' '427' '198' '403' '288'
 '998' '507' '174' '425' '456' '401' '715' '496' '428' '585' '250.02'
 '410' '999' '996' '135' '244' '41' '571' '276' '997' '599' '424' '491'
 '553' '707' '286' '440' '493' '242' '70' 'V45' '250.03' '357' '511' '196'
 '396' '197' '414' '250.52' '577' '535' '413' '285' '53' '780' '518' '150'
 '566' '250.6' '867' '486' 'V15' '8' '788' '340' '574' '581' '228' '530'
 '250.82' '786' '294' '567' '785' '512' '305' '729' '250.51' '280' '648'
 '560' '618' '444' '38' 'V10' '578' '277' '781' '250.42' '278' '426' '584'
 '462' '402' '153' '272' '733' '34' '881' '203' '250.41' '250.13' '293'
 '245' '250.12' '558' '787' '342' '573' '626' '303' '250.53' '458' '710'
 '415' 'V42' '284' '569' '759' '682' '112' '292' '435' '290' '250.93'
 '642' '536' '398' '319' '711' 'E878' '446' '255' 'V44' '250.7' '784'
 '300' '562' '162' '287' '447' '789' '790' '591' '200' '154' '304' '117'
 '847' '852' '250.83' '250.11' '816' '575' '416' '412' '441' '515' '372'
 '482' '382' 'V65' '572' '283' '78' '250.81' '576' '432' '595' '295' 'V12'
 '204' '466' '721' '434' '590' '271' '813' '368' '227' '783' '250.5' '258'
 '253' '309' '250.91' '519' '333' '459' '250.92' '250.4' '179' '420' '345'
 '433' '661' '537' '205' '722' '405' '437' '714' '211' 'E812' '263' '202'
 '397' '250.23' 'E932' '201' '301' '723' '614' '568' '861' 'V57' '724'
 '189' '297' '453' 'E888' '730' '354' '451' '738' 'E939' '805' 'V43' '155'
 '910' '218' '358' '220' 'E937' '583' '958' '794' '564' '436' '250.22'
 '620' '621' '331' '617' '596' '314' '378' '250.8' '625' '478' '731' '172'
 '404' '681' '470' '279' '281' '531' '443' '799' '337' '311' '719' 'E944'
 '423' 'E870' '465' 'E849' '782' '481' '480' 'V23' '199' '79' '438' '348'
 '42' 'E950' '473' '627' '726' '54' '490' '317' '332' '508' '369' '600'
 '349' '485' '208' '922' '431' '296' 'E934' '753' 'E935' '386' '728' '607'
 'E915' '344' '716' '289' '191' '873' '850' '611' '377' '352' '616' 'V17'
 '136' '455' '933' 'E885' '860' '513' '603' '484' '223' 'V72' '291' '151'
 'V58' '550' '510' '891' '185' '592' '791' '138' '598' '336' '362' '217'
 '825' '298' '821' 'E880' '343' '429' 'E879' '579' '225' '250.9' 'V49'
 '696' '233' '658' '969' '275' '250.1' '601' '704' '808' 'E890' 'V18'
 '920' '380' '570' 'E817' '359' '812' '274' 'V14' '324' '758' 'V66' '911'
 'E931' 'E924' '593' '792' '727' 'V46' '394' '532' 'V64' '557' '864' '718'
 'E942' '807' '604' '924' '820' '580' '273' '241' '282' '824' 'V61' '646'
 '701' '736' '565' '383' '250.2' 'E947' '452' '872' '905' 'E930' '921'
 '131' '448' '389' '421' '214' '705' '494' '752' '623' '9' '299' '959'
 '365' '967' 'E858' '40' '691' '909' '5' '814' '746' '250.31' '556' '680'
 '745' '351' '306' '110' '695' '552' '346' '918' '882' '947' '520' '188'
 '31' '356' '737' 'V08' '322' '182' '517' '974' 'E929' 'V53' '912' '252'
 '608' '516' 'E933' '94' '702' '923' '594' '647' '111' '934' '430' '487'
 '709' '796' '156' '977' '915' '756' '840' '341' '259' '693' '725' 'V62'
 '528' '683' '953' '457' '501' 'E900' 'V09' '522' '919' '461' '506' '193'
 '483' 'E936' '717' '802' '335' 'V54' '320' '945' '906' '239' '454' '826'
 '823' 'E941' '226' '795' '684' '844' '250.33' '308' '615' '588' '712'
 '663' '706' '833' '741' '713' '533' 'E884' '586' '555' '755' 'E928' '742'
 '869' '962' 'V11' '543' '373' '870' '913' '152' '810' '965' '907' '908'
 '995' '845' '474' '442' '751' '323' '472' '464' '686' '250.32' '540'
 '251' '811' '652' '659' '851' '422' '815' '307' '325' '463' '992' '692'
 '521' '917' 'E965' '524' '916' 'E813' '173' '238' '137' '514' '312' '837'
 '355' '980' '622' '475' '500' '754' '261' '801' '868' '968' '381' '11'
 '250.21' '694' '610' '734' 'E814' '310' '130' '246' '892' '846' '634'
 '75' 'E927' 'E905' '183' '379' 'E917' '163' 'E868' '495' '747' '989'
 'E854' '240' '832' '605' '602' '644' 'V16' '35' 'V70' '376' '266' 'E918'
 '619' '477' '656' '46' '883' '171' 'V13' '698' '842' 'E850' '800' '269'
 '664' 'E887' '952' '164' 'E881' '527' '685' '366' '836' '27' 'V63' '865'
 '793' '232' '990' '52' '831' '327' '542' '806' '972' '862' 'E829' 'E919'
 '944' 'E916' '963' '316' '645' '347' 'V85' '374' 'V02' '748' '256' '186'
 '866' '975' '96' '395' '262' 'E819' '654' '994' '318' 'E826' '879' '674'
 '641' '822' '145' '797' '353' 'E938' 'E816' '948' '987' '99' '192'
 '250.3' 'E906' '534' '115' 'E818' 'E980' '360' '338' '529' '871' '750'
 '212' '302' '955' '141' '88' 'V25' '215' '350' 'V50' 'V03' 'E853' 'E968'
 'E882' '140' '703' '991' '893' 'E821' '235' 'V69' '670' '195' 'V55' '388'
 '268' '894' '114' '260' '853' '7' '880' 'V86' '180' 'E945' '523' '863'
 '649' '270' '665' '460' '942' '364' '66' 'E883' '123' '884' 'V60' '843'
 '927']

Number of null values: 358


================================================
diag_3
Number of unique values: 789

Unique Values: [nan '255' 'V27' '403' '250' 'V45' '38' '486' '996' '197' '250.6' '427'
 '627' '414' '416' '714' '428' '582' 'V43' '250.01' '263' '250.42' '276'
 '482' '401' '250.41' '585' '781' '278' '998' '568' '682' '618' '250.02'
 '305' '707' '496' '599' '715' '424' '518' '553' '794' '411' 'V42' '531'
 '511' '490' '562' '250.8' '250.7' '250.52' '784' '491' '581' '420' '8'
 '724' '730' '789' '131' '250.82' '999' '41' '493' '250.03' '753' '786'
 '529' 'E888' '425' '595' '303' '560' '711' '492' '332' '296' '438' '362'
 '250.4' '654' '244' 'V70' '737' '625' '681' '250.51' '404' 'V10' '810'
 '280' '440' '785' '588' '569' '272' '997' '250.43' '918' '584' '54' '788'
 '426' '722' '250.92' '196' '461' '535' '787' '891' '284' '458' '648'
 '780' '182' '285' '593' '413' '664' '564' '201' '356' 'V15' '292' '782'
 '473' '455' 'E932' '357' '348' '294' '250.23' '459' 'E878' '437' '733'
 '507' '525' '250.53' '397' '572' '805' '453' '331' '736' '402' '591'
 '576' '465' '533' '703' '349' '315' '658' '608' '578' '716' '382' '300'
 '282' '571' '536' '596' '287' '644' 'V11' '558' 'E885' '162' '198' '218'
 '412' '396' 'V14' '570' '433' 'E934' '882' '288' '577' '443' '729' '836'
 '295' '799' '281' '304' '153' '410' '616' '250.83' '601' '291' '75' '512'
 '660' '250.5' '598' '337' '574' '653' 'V58' '311' '415' '386' '602' '790'
 '112' '873' '620' '436' '70' '155' '138' '663' '530' '710' '42' '342'
 '250.91' 'E884' '515' '307' '704' '728' '731' '583' '238' '441' '293'
 '573' '532' '290' '594' '319' '250.13' '250.12' '519' '346' '380' '135'
 '642' '698' '924' '905' 'E933' '555' '309' 'E879' '286' '565' '752' '580'
 '446' '444' '344' '252' '35' '813' '394' '301' '575' '258' 'V17' '802'
 '435' '746' 'V12' '709' '881' 'E935' '139' '250.81' '718' '365' '202'
 '334' '185' '398' 'V44' '517' 'E849' '614' '466' '626' '250.9' '368'
 '605' '883' '289' '478' '617' '429' '442' 'V25' '866' '610' '557' '959'
 'E942' '94' '920' '345' '313' '379' '79' '516' '586' '821' '600' '242'
 '373' '592' 'V64' '487' '253' '706' 'E947' '117' '340' 'E950' '656'
 'E949' '590' 'V09' '250.22' '934' '694' '203' '250.93' '995' '726' '923'
 '958' '275' 'E929' '211' 'V18' 'V66' '199' '665' '53' '279' '522' '791'
 '890' '456' 'E938' 'E816' '122' '721' 'V65' '136' '480' '423' 'E920'
 '793' '647' '537' '351' '845' '336' '274' '719' '945' '434' '494' '227'
 '157' '208' '174' 'V57' '812' '734' '150' 'V23' '447' '692' '228' 'V16'
 '756' '405' 'E928' '823' '552' '528' '389' '240' '454' '792' '366' 'E939'
 '907' '270' '310' '266' '387' 'E931' '783' '245' '607' '355' 'E930' '705'
 '372' '369' '611' '283' 'V46' '110' '867' 'E956' '251' '250.2' '820'
 '712' '695' '567' '343' '723' 'V08' '273' '623' '807' '451' '495' '701'
 '34' 'V53' '314' '472' 'E945' '11' '189' '534' '354' '333' 'V54' '277'
 '659' '708' '452' '655' '816' '670' '621' '246' '953' '865' 'E817' '646'
 '151' '378' '78' '298' '840' '641' '521' '745' '619' '912' '506' 'E904'
 '259' 'E870' 'E980' '383' '204' '696' '566' '727' '47' 'E943' '358' '191'
 '965' '921' '432' '27' 'E861' '758' '477' '524' '751' '652' '556' '188'
 '825' '919' '732' '908' '951' '962' '685' 'E850' 'E944' '527' '341' '693'
 '250.1' 'V49' '860' '323' 'V55' '579' '508' '969' '205' '462' 'E880'
 '680' '697' '826' '200' '457' '717' '738' '742' '735' '235' '308' '725'
 '241' '824' '464' '260' '917' '239' '661' '892' '261' 'E883' '943' '744'
 'E936' '796' '318' '967' '350' '854' 'E905' '9' '741' 'E941' '170' '643'
 '317' '759' '909' 'V22' '831' '713' '180' '801' '360' '359' '501' '335'
 '250.11' '306' '811' '690' 'V02' '271' '214' '847' '543' 'V63' '906'
 '842' '686' '445' '808' '861' 'E852' '220' 'E887' 'E858' '915' '970'
 '256' '747' '395' '243' '815' '481' '5' 'E927' '297' '299' '851' '864'
 '922' '384' 'E876' '225' '158' 'E937' '871' '88' '966' 'E917' 'E812'
 'V62' 'E924' '604' '233' 'E916' '377' '797' 'V72' '172' '7' '421' '852'
 'E819' '972' '916' '956' '3' 'E965' '173' '193' '154' '347' '862' '250.3'
 '987' '470' '262' 'E855' '161' '115' '179' '910' '312' '17' '460' '265'
 '66' '163' 'V60' '870' 'E906' '514' '944' '844' '417' '152' '183' '991'
 '216' '385' '164' '935' '510' '814' '485' '850' '250.21' 'E919' '872'
 '195' '431' '597' '933' '171' '884' '156' '868' '483' 'E815' '542' 'V61'
 '853' '374' 'E881' 'E882' 'E822' '192' '754' '327' '523' '500' 'V85'
 '992' '657' '684' '603' 'E826' '550' '913' '376' '755' '361' '186' '720'
 '250.31' '674' '911' 'E813' '226' '365.44' 'E818' '146' '955' 'E894'
 '475' 'V13' '880' '930' 'E915' '381' '132' '353' '795' '893' 'V01' 'E853'
 '863' '540' 'E828' '430' '800' 'E865' '148' 'E946' '822' '879' '848'
 'V86' 'V03' '338' '989' '388' 'E966' '111' 'E922' '123' '757' 'E901'
 '141' '268' 'E892' '649' '702' '948' '223' '484' 'E886' '838' '928' '236'
 '624' '837' 'E987' 'V07' '841' '622' 'E912' 'E955' '463' 'V06' 'E864'
 '217' '877' '391' 'E825' '952' '669' '875' 'E900' '215' '538' '980' '834'
 '448' '175' '49' '876' '230' '57' 'E854' '942' '14' '750' '370' '671'
 '971']

Number of null values: 1423


================================================
change
Number of unique values: 2

Unique Values: ['No' 'Ch']

Number of null values: 0


================================================
diabetesMed
Number of unique values: 2

Unique Values: ['No' 'Yes']

Number of null values: 0


================================================
readmitted
Number of unique values: 3

Unique Values: ['NO' '>30' '<30']

Number of null values: 0


================================================
admission_type_desc
Number of unique values: 7

Unique Values: [nan 'Emergency' 'Urgent' 'Elective' 'Newborn' 'Not Available'
 'Not Mapped' 'Trauma Center']

Number of null values: 5291


================================================
discharge_desc
Number of unique values: 25

Unique Values: ['Not Mapped' 'Discharged to home' 'Discharged/transferred to SNF'
 'Discharged/transferred to home with home health service'
 'Discharged/transferred to another short term hospital'
 'Discharged/transferred to another type of inpatient care institution'
 'Expired' 'Left AMA'
 'Neonate discharged to another hospital for neonatal aftercare'
 'Discharged/transferred to ICF' 'Hospice / medical facility' nan
 'Discharged/transferred to home under care of Home IV provider'
 'Hospice / home'
 'Still patient or expected to return for outpatient services'
 'Discharged/transferred/referred another institution for outpatient services'
 'Discharged/transferred/referred to this institution for outpatient services'
 'Discharged/transferred to another rehab fac including rehab units of a hospital .'
 'Discharged/transferred to a long term care hospital.'
 'Admitted as an inpatient to this hospital'
 'Expired in a medical facility. Medicaid only, hospice.'
 'Discharged/transferred within this institution to Medicare approved swing bed'
 'Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.'
 'Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital'
 'Expired at home. Medicaid only, hospice.'
 'Discharged/transferred to a federal health care facility.']

Number of null values: 3691


================================================
admission_source_desc
Number of unique values: 16

Unique Values: [' Physician Referral' ' Emergency Room' 'Clinic Referral'
 'Transfer from a hospital'
 ' Transfer from a Skilled Nursing Facility (SNF)'
 ' Transfer from another health care facility' ' Not Mapped'
 'HMO Referral' nan ' Court/Law Enforcement' ' Not Available'
 ' Extramural Birth' ' Transfer from critial access hospital'
 ' Transfer from hospital inpt/same fac reslt in a sep claim'
 'Normal Delivery' ' Transfer from Ambulatory Surgery Center' ' Sick Baby']

Number of null values: 6781

Let us pick these up one by one.

`race`

Imputing all null values with the value 'Unknown'

In [969]:
print(df['race'].isnull().sum())

2273

In [970]:
df['race'] = df['race'].fillna('Unknown')
# Doing the same on the dummy dataframe for consistency purpose
non_drug_df['race'] = non_drug_df['race'].fillna('Unknown')

/tmp/ipython-input-2112190087.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_drug_df['race'] = non_drug_df['race'].fillna('Unknown')

In [971]:
print(df['race'].isnull().sum())

0

In [972]:
df['race'].unique()

array(['Caucasian', 'AfricanAmerican', 'Unknown', 'Other', 'Asian',
       'Hispanic'], dtype=object)

`gender`

In [973]:
non_drug_df['gender'].value_counts()

gender
Female             54708
Male               47055
Unknown/Invalid        3
Name: count, dtype: int64

In 2025, it is iniquitous to disregard non-binary genders. However, since the dataset contains only 3 rows with 'Unknown/Invalid' - as compared to 101,763 rows with Female/Male - we would not be able to derive any meaningful analysis from keeping these rows. Hence, we drop these rows.

In [974]:
df = df.drop(df[df['gender'] == 'Unknown/Invalid'].index)
# Doing the same on the dummy dataframe for consistency purpose
non_drug_df = non_drug_df.drop(non_drug_df[non_drug_df['gender'] == 'Unknown/Invalid'].index)

In [975]:
df['gender'].value_counts()

gender
Female    54708
Male      47055
Name: count, dtype: int64

In [976]:
df.shape

(101763, 46)

`age`

In [977]:
non_drug_df['age'].value_counts()

age
[70-80)     26066
[60-70)     22482
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: count, dtype: int64

Seems fine, so keeping it as is.

`medical_specialty`

In [978]:
non_drug_df['medical_specialty'].value_counts()

medical_specialty
Unknown                   49947
InternalMedicine          14635
Emergency/Trauma           7565
Family/GeneralPractice     7440
Cardiology                 5351
                          ...
Proctology                    1
Speech                        1
SportsMedicine                1
Perinatology                  1
Neurophysiology               1
Name: count, Length: 73, dtype: int64

Seems fine for now, so keeping it as is.

`diag_1`, `diag_2`, `diag_3`

These three columns are the primary, secondary and additional secondary diagnosis respectively, coded as first three digits of ICD9.

Let us transform them into their equivalent categories.

Source: Wikipedia

The following is a list of codes for International Statistical Classification of Diseases and Related Health Problems.



*   List of ICD-9 codes 001-139: infectious and parasitic diseases
*   List of ICD-9 codes 140-239: neoplasms
*   List of ICD-9 codes 240-279: endocrine, nutritional and metabolic diseases, and immunity disorders
*   List of ICD-9 codes 280-289: diseases of the blood and blood-forming organs
*   List of ICD-9 codes 290-319: mental disorders
*   List of ICD-9 codes 320-389: diseases of the nervous system and sense organs
*   List of ICD-9 codes 390-459: diseases of the circulatory system
*   List of ICD-9 codes 460-519: diseases of the respiratory system
*   List of ICD-9 codes 520-579: diseases of the digestive system
*   List of ICD-9 codes 580-629: diseases of the genitourinary system
*   List of ICD-9 codes 630-679: complications of pregnancy, childbirth, and the puerperium
*   List of ICD-9 codes 680-709: diseases of the skin and subcutaneous tissue
*   List of ICD-9 codes 710-739: diseases of the musculoskeletal system and connective tissue
*   List of ICD-9 codes 740-759: congenital anomalies
*   List of ICD-9 codes 760-779: certain conditions originating in the perinatal period
*   List of ICD-9 codes 780-799: symptoms, signs, and ill-defined conditions
*   List of ICD-9 codes 800-999: injury and poisoning
*   List of ICD-9 codes E and V codes: external causes of injury and supplemental classification

Firstly, let us impute the missing values with '-1'.

In [979]:
for col in ['diag_1', 'diag_2', 'diag_3']:
  print(col,non_drug_df[col].isnull().sum())

diag_1 21
diag_2 358
diag_3 1423

In [980]:
for col in ['diag_1', 'diag_2', 'diag_3']:
    df[col] = df[col].fillna('-1')
    # Doing the same on the dummy dataframe for consistency purpose
    non_drug_df[col] = non_drug_df[col].fillna('-1')

In [981]:
for col in ['diag_1', 'diag_2', 'diag_3']:
  print(col,df[col].isnull().sum())

diag_1 0
diag_2 0
diag_3 0

Now, let us transform the numbers into categories, based on the ICD-9 Code.

In [982]:
def transform_diag(icd9_code):
    if icd9_code.lower().startswith(('e', 'v')):
        category = 'External Causes of Injury'
        return category
    else:
        value = float(icd9_code)

        if value>=1 and value<=139:
            category = 'Infectious and Parasitic Diseases'
        elif value>=140 and value<=239:
            category = 'Neoplasms'
        elif value>=240 and value<=279:
            category = 'Endocrine, Nutritional and Metabolic Diseases, and Immunity Disorders'
        elif value>=280 and value<=289:
            category = 'Diseases of the Blood and Blood-Forming Organs'
        elif value>=290 and value<=319:
            category = 'Mental Disorders'
        elif value>=320 and value<=389:
            category = 'Diseases of Nervous System and Sense Organs'
        elif value>=390 and value<=459:
            category = 'Diseases of Circulatory System'
        elif value>=460 and value<=519:
            category = 'Diseases of Respiratory System'
        elif value>=520 and value<=579:
            category = 'Diseases of Digestive System'
        elif value>=580 and value<=629:
            category = 'Diseases of Genitourinary System'
        elif value>=630 and value<=679:
            category = 'Complications of Pregnancy, Childbirth, and Puerperium'
        elif value>=680 and value<=709:
            category = 'Diseases of Skin and Subcutaneous Tissue'
        elif value>=710 and value<=739:
            category = 'Diseases of Musculoskeletal System and Connective Tissue'
        elif value>=740 and value<=759:
            category = 'Congenital Anomalies'
        elif value>=760 and value<=779:
            category = 'Diseases of Perinatal Period'
        elif value>=780 and value<=799:
            category = 'Symptoms, Signs, and Ill-defined Conditions'
        elif value>=800 and value<=999:
            category = 'Injury and Poisoning'
        elif value == -1:
            category = 'Unknown'
        else: #Should not enter this as we have covered all scenarios
            category = 'Other'

        return category

In [983]:
for col in ['diag_1', 'diag_2', 'diag_3']:
  df[col] = df[col].apply(transform_diag)
  # Doing the same on the dummy dataframe for consistency purpose
  non_drug_df[col] = non_drug_df[col].apply(transform_diag)

In [984]:
for col in ['diag_1', 'diag_2', 'diag_3']:
    print('================================================')
    print('\033[1m'+col+'\033[0m')
    print('Number of unique values:',df[col].nunique(),"\n")
    print('Unique Values:',df[col].unique(),"\n")

================================================
diag_1
Number of unique values: 18

Unique Values: ['Endocrine, Nutritional and Metabolic Diseases, and Immunity Disorders'
 'Complications of Pregnancy, Childbirth, and Puerperium'
 'Infectious and Parasitic Diseases' 'Neoplasms'
 'Diseases of Circulatory System' 'Diseases of Respiratory System'
 'Injury and Poisoning' 'Diseases of Skin and Subcutaneous Tissue'
 'Diseases of Musculoskeletal System and Connective Tissue'
 'Diseases of Digestive System' 'External Causes of Injury'
 'Symptoms, Signs, and Ill-defined Conditions'
 'Diseases of Genitourinary System' 'Mental Disorders'
 'Diseases of Nervous System and Sense Organs'
 'Diseases of the Blood and Blood-Forming Organs' 'Unknown'
 'Congenital Anomalies']

================================================
diag_2
Number of unique values: 18

Unique Values: ['Unknown'
 'Endocrine, Nutritional and Metabolic Diseases, and Immunity Disorders'
 'Neoplasms' 'Diseases of Circulatory System'
 'Diseases of Respiratory System'
 'Diseases of the Blood and Blood-Forming Organs' 'Injury and Poisoning'
 'Diseases of Musculoskeletal System and Connective Tissue'
 'Diseases of Genitourinary System' 'Infectious and Parasitic Diseases'
 'Diseases of Digestive System' 'Diseases of Skin and Subcutaneous Tissue'
 'External Causes of Injury' 'Diseases of Nervous System and Sense Organs'
 'Symptoms, Signs, and Ill-defined Conditions' 'Mental Disorders'
 'Complications of Pregnancy, Childbirth, and Puerperium'
 'Congenital Anomalies']

================================================
diag_3
Number of unique values: 18

Unique Values: ['Unknown'
 'Endocrine, Nutritional and Metabolic Diseases, and Immunity Disorders'
 'External Causes of Injury' 'Diseases of Circulatory System'
 'Infectious and Parasitic Diseases' 'Diseases of Respiratory System'
 'Injury and Poisoning' 'Neoplasms' 'Diseases of Genitourinary System'
 'Diseases of Musculoskeletal System and Connective Tissue'
 'Symptoms, Signs, and Ill-defined Conditions'
 'Diseases of Digestive System' 'Diseases of Skin and Subcutaneous Tissue'
 'Mental Disorders' 'Congenital Anomalies'
 'Diseases of Nervous System and Sense Organs'
 'Complications of Pregnancy, Childbirth, and Puerperium'
 'Diseases of the Blood and Blood-Forming Organs']

`change`

This is already a categorical column with no null values, and two unique values ('No' and 'Ch'). So keeping as is.

`diabetesMed`

This is already a categorical column with no null values, and two unique values ('No' and 'Yes'). So keeping as is.

`admission_type_desc`, `discharge_desc`, `admission_source_desc`

These are already categorical columns.

First, let us impute the null values.

Imputing all null values with the value 'Unknown'

In [985]:
for col in ['admission_type_desc', 'discharge_desc', 'admission_source_desc']:
  print(col,df[col].isnull().sum())

admission_type_desc 5291
discharge_desc 3691
admission_source_desc 6781

In [986]:
for col in ['admission_type_desc', 'discharge_desc', 'admission_source_desc']:
  df[col] = df[col].fillna('Unknown')
  # Doing the same on the dummy dataframe for consistency purpose
  non_drug_df[col] = non_drug_df[col].fillna('Unknown')

In [987]:
for col in ['admission_type_desc', 'discharge_desc', 'admission_source_desc']:
  print(col,df[col].isnull().sum())

admission_type_desc 0
discharge_desc 0
admission_source_desc 0

Let us look at the columns of `discharge_desc` again.

In [988]:
non_drug_df['discharge_desc'].unique()

array(['Not Mapped', 'Discharged to home',
       'Discharged/transferred to SNF',
       'Discharged/transferred to home with home health service',
       'Discharged/transferred to another short term hospital',
       'Discharged/transferred to another type of inpatient care institution',
       'Expired', 'Left AMA',
       'Neonate discharged to another hospital for neonatal aftercare',
       'Discharged/transferred to ICF', 'Hospice / medical facility',
       'Unknown',
       'Discharged/transferred to home under care of Home IV provider',
       'Hospice / home',
       'Still patient or expected to return for outpatient services',
       'Discharged/transferred/referred another institution for outpatient services',
       'Discharged/transferred/referred to this institution for outpatient services',
       'Discharged/transferred to another rehab fac including rehab units of a hospital .',
       'Discharged/transferred to a long term care hospital.',
       'Admitted as an inpatient to this hospital',
       'Expired in a medical facility. Medicaid only, hospice.',
       'Discharged/transferred within this institution to Medicare approved swing bed',
       'Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.',
       'Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital',
       'Expired at home. Medicaid only, hospice.',
       'Discharged/transferred to a federal health care facility.'],
      dtype=object)

We have a few columns where the patients have expired.

Unfortunately, they have no scope of getting re-admitted, so we drop those records.

In [989]:
df = df.drop(df[df['discharge_desc'].str.contains('Expired', case=False)].index)
# Doing the same on the dummy dataframe for consistency purpose
non_drug_df = non_drug_df.drop(non_drug_df[non_drug_df['discharge_desc'].str.contains('Expired', case=False)].index)

In [990]:
df.shape

(100111, 46)

NOTE: Practically, even the patients who are advised Hospice care do not have a realistic chance at readmission.

However, the humane side of me believes in mircales - so I am not dropping those patient records.

`readmitted`

Finally, we come to our target variable - `readmitted`.

This column is already categorial, with three unique values.

However, to make things interesting, let us create another column `readmitted_binary` with just two values - 'Yes' and 'No'. We map '>30' and '<30' both to 'Yes'.

In [991]:
df['readmitted_binary'] = df['readmitted']
df['readmitted_binary'] = df['readmitted_binary'].str.replace('>30', 'Yes')
df['readmitted_binary'] = df['readmitted_binary'].str.replace('<30', 'Yes')
df['readmitted_binary'] = df['readmitted_binary'].str.replace('NO', 'No')

In [992]:
df['readmitted_binary'].unique()

array(['No', 'Yes'], dtype=object)

In [993]:
df.shape

(100111, 47)

In [994]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100111 entries, 0 to 101765
Data columns (total 47 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   patient_nbr               100111 non-null  int64
 1   race                      100111 non-null  object
 2   gender                    100111 non-null  object
 3   age                       100111 non-null  object
 4   admission_type_id         100111 non-null  int64
 5   discharge_disposition_id  100111 non-null  int64
 6   admission_source_id       100111 non-null  int64
 7   time_in_hospital          100111 non-null  int64
 8   medical_specialty         100111 non-null  object
 9   num_lab_procedures        100111 non-null  int64
 10  num_procedures            100111 non-null  int64
 11  num_medications           100111 non-null  int64
 12  number_outpatient         100111 non-null  int64
 13  number_emergency          100111 non-null  int64
 14  number_inpatient          100111 non-null  int64
 15  diag_1                    100111 non-null  object
 16  diag_2                    100111 non-null  object
 17  diag_3                    100111 non-null  object
 18  number_diagnoses          100111 non-null  int64
 19  metformin                 100111 non-null  object
 20  repaglinide               100111 non-null  object
 21  nateglinide               100111 non-null  object
 22  chlorpropamide            100111 non-null  object
 23  glimepiride               100111 non-null  object
 24  acetohexamide             100111 non-null  object
 25  glipizide                 100111 non-null  object
 26  glyburide                 100111 non-null  object
 27  tolbutamide               100111 non-null  object
 28  pioglitazone              100111 non-null  object
 29  rosiglitazone             100111 non-null  object
 30  acarbose                  100111 non-null  object
 31  miglitol                  100111 non-null  object
 32  troglitazone              100111 non-null  object
 33  tolazamide                100111 non-null  object
 34  insulin                   100111 non-null  object
 35  glyburide-metformin       100111 non-null  object
 36  glipizide-metformin       100111 non-null  object
 37  glimepiride-pioglitazone  100111 non-null  object
 38  metformin-rosiglitazone   100111 non-null  object
 39  metformin-pioglitazone    100111 non-null  object
 40  change                    100111 non-null  object
 41  diabetesMed               100111 non-null  object
 42  readmitted                100111 non-null  object
 43  admission_type_desc       100111 non-null  object
 44  discharge_desc            100111 non-null  object
 45  admission_source_desc     100111 non-null  object
 46  readmitted_binary         100111 non-null  object
dtypes: int64(12), object(35)
memory usage: 36.7+ MB

In [899]:
for col in df.columns:
    #print(col, df[col].duplicated().sum(), df[col].duplicated().sum()/(len(df)-1)*100)
    # print number of unique values per column and sort them in ascending order
    print(col, df[col].nunique())

patient_nbr 70436
race 6
gender 2
age 10
admission_type_id 8
discharge_disposition_id 23
admission_source_id 17
time_in_hospital 14
medical_specialty 73
num_lab_procedures 118
num_procedures 7
num_medications 75
number_outpatient 39
number_emergency 33
number_inpatient 21
diag_1 18
diag_2 18
diag_3 18
number_diagnoses 16
metformin 4
repaglinide 4
nateglinide 4
chlorpropamide 4
glimepiride 4
acetohexamide 2
glipizide 4
glyburide 4
tolbutamide 2
pioglitazone 4
rosiglitazone 4
acarbose 4
miglitol 4
troglitazone 2
tolazamide 3
insulin 4
glyburide-metformin 4
glipizide-metformin 2
glimepiride-pioglitazone 2
metformin-rosiglitazone 2
metformin-pioglitazone 2
change 2
diabetesMed 2
readmitted 3
admission_type_desc 8
discharge_desc 23
admission_source_desc 17
readmitted_binary 2

In [900]:
# Dropping columns having same value across all rows
df.drop(columns=['examide', 'citoglipton'], inplace=True)

KeyError: "['examide', 'citoglipton'] not found in axis"

In [ ]:
df.shape

In [ ]:
# distinct values in readmitted column
df['readmitted'].value_counts()

In [ ]:
df['readmitted_label'] = df['readmitted'].map({'NO':0, '>30':1, '<30':2})

In [ ]:
df['readmitted_label'].unique()

In [ ]:
df.head()

In [ ]:
percent_missing = df.isnull().sum()*100/len(df)
percent_missing_sorted = percent_missing.sort_values(ascending=False)
percent_missing_sorted

In [ ]:
# plot on readmitted label -
sns.countplot(data=df, x='readmitted_label') # frequency - count

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
# boxplot of age with readmitted
sns.boxplot(x=df['readmitted'],y=df['age'])

In [ ]:
# countplot of Age group
sns.countplot(data=df, x='age')

In [ ]:
pd.crosstab(df['age'], df['readmitted'], margins=True)  # cross tabulation of Age_group and survived columns

In [ ]:
pd.crosstab(df['age'], df['readmitted_label'], margins=True)  # cross tabulation of Age_group and survived columns

In [ ]:
# boxplot of gender with readmitted
sns.boxplot(x=df['readmitted'],y=df['gender'])

In [ ]:
# countplot for gender with readmitted
sns.countplot(data=df, x = 'gender', hue='readmitted')

In [ ]:
pd.crosstab(df['gender'], df['readmitted_label'], margins=True)  # cross tabulation of Age_group and survived columns

In [ ]:
# compute readmitted by gender - group by gender
readmitted_by_gender = df.groupby('gender')['readmitted_label'].mean()
readmitted_by_gender

##NOTE: Does not make sense!

In [ ]:
sns.boxplot(df, x='race', y='age', palette='rainbow')

In [ ]:
df['admission_type_desc'].unique()

In [ ]:
df['discharge_desc'].unique()

In [ ]:
df['admission_source_desc'].unique()

## Univariate Analysis

## Bivariate Analysis

## Multivariate Analysis

## Summarize insights